<div class="grid-x">
  {{#each photos as |photo|}}
    <div class="small-6 cell photo-container">
      <img class="photo-thumbnail" src={{photo.thumbnailUrl}}>
      <div class="photo-title">{{photo.title}}</div>
      {{#link-to 'detail' (query-params imgUrl=photo.url) class="button photo-button"}}
        View
      {{/link-to}}
      {{#if showAddButton}}
        <button class="button photo-button" {{action 'add' photo}}>
          Add
        </button>
      {{/if}}
    </div>
  {{/each}}
</div>
